@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Permanent Marker', cursive;
    background: linear-gradient(to top, white 70%, #00303f 95%);
}

/* MENU DE NAVEGACION */
    nav
    {
        width: 100vw;
        height: 10vh;
        display: flex;
        position: relative;
        align-items: center;
    }

    nav ul
    {
        display: flex;
        position: absolute;
        right: 20px;
    }

    nav ul li
    {
        list-style-type: none;
        margin-right: 25px;
    }

    nav a
    {
        text-decoration: none;
        color: #dcae1d;
        font-size: 1.2em;
        transition: all .2s;
    }

    nav a:hover
    {
        color: #ffe281;
    }

    nav h1
    {
        margin-left: 20px;
        font-size: 2em;
    }

/* CAJAS DE ENLACE A LOS VIAJES */
    .cajas
    {
        height: 87vh;
        width: 100vw;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .cajas div
    {
        position: absolute;
        width: 30%;
        height: 40%;
        margin: 1%;
        top: 5%;
        left: 10%;
        box-shadow: 0 5px 10px black;
        border-radius: 15px;
        border: 2px solid #00303f;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .cajas div h1
    {
        padding-left: 20px;
        color: #00303f;
        position: absolute;
        border-bottom: 2px solid #00303f;
    }

     .cajas div h2
    {
        color: #00303f;
        position: absolute;
    }

    .cajas div:nth-child(2)
    {
        left: 45%;
    }

    .cajas div:nth-child(3)
    {
        top: 50%;
    }

    .cajas div:nth-child(4)
    {
        top: 50%;
        left: 45%;
    }

        /* CONTENIDO DE LAS CAJAS */
        .cajas div img
        {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            opacity: .6;
        }

        .cajas div h1
        {
            width: 100%;
            z-index: 1;
        }

        .cajas div p
        {
            color: #00303f;
            position: absolute;
            z-index: 1;
            top: 75%;
            left: 5%;
            width: 50%;
        }

        .cajas div h2
        {
            position: absolute;
            top: 75%;
            right: 5%;
            z-index: 1;
        }

        .cajas div img:hover
        {
            opacity: 1;
            cursor: pointer;
            z-index: 2;
        }

 /* STIKERS BACKGROUND */
    .stiker
    {
        position: absolute;
        display: block;
        width: 15%;
        height: 25%;
    }
    
    .stik01
    {
        right: 2%;
        top: 12%;
        transform: rotate(20deg);
    }

    .stik02
    {
        right: 7%;
    }

    .stik03
    {
        right: 2%;
        bottom: 5%;
        transform: rotate(-10deg);
    }

/* FOOTER */
    footer
    {
        height: 3vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        font-size: .7em;
        border-top: 1px solid #00303f;
        position: fixed;
        bottom: 0;
        background: white;
    }

    
/* MEDIAQUERYS */
    @media (max-width: 1620px) {
        .cajas div
        {
            width: 32%;
            height: 33%;
            margin: 0;
            top: 10%;
            left: 3%;
        }
        
        .stiker
        {
            position: absolute;
            display: block;
            width: 12%;
            height: 17%;
        }
        
        .cajas div h2
        {
           font-size: 1.2em;
        }

        footer
        {
            font-size: .5em;
        }
    }

    @media (max-width: 770px) 
    {

        /* MENU DE NAVEGACION */
            nav
            {
                padding-top: 10%;
                height: 25vh;
                flex-direction: column;
                align-items: center;
            }

            nav ul
            {
                right: 30%;
                top: 50%;
            }

            nav a
            {
                font-size: 1em;
            }

            nav a:hover
            {
                color: #ffe281;
            }

            nav h1
            {
                font-size: 2.5em;
                margin: 0 auto;
            }

        /* CAJAS DE ENLACE A LOS VIAJES */
            .cajas
            {
                height: 130vh;
                width: 100vw;
                margin-top: -10%;
                padding-bottom: 25%;
            }

            .cajas div
            {
                width: 60%;
                height: 25%;
                flex-direction: column;
                position: relative;
                top: 0;
                left: 0;
                margin: 3% auto;
            }

            .cajas div:nth-child(2)
            {
                left: 0;
            }

            .cajas div:nth-child(3)
            {
                top: 0;
            }

            .cajas div:nth-child(4)
            {
                top: 0;
                left: 0;
            }

            .cajas div p
            {
                font-size: .7em;
            }
    
            .cajas div h2
            {
               font-size: .9em;
            }

        /* STIKERS BACKGROUND */
            .stiker
            {
                width: 100px;
                height: 100px;
            }

            .stik02
            {
                right: 85%;
            }

        /* FOOTER */
            footer
            {
                height: 4vh;
                font-size: .32em;
                padding: 0 20px;
                bottom: 0;
                position: relative;
                background: transparent;
            }

    }

    @media (max-width: 420px) 
    {

        /* MENU DE NAVEGACION */
            nav
            {
                padding-top: 10%;
                height: 25vh;
                flex-direction: column;
                align-items: center;
            }

            nav ul
            {
                right: 10%;
                top: 50%;
            }

            nav a
            {
                font-size: 1em;
            }

            nav a:hover
            {
                color: #ffe281;
            }

            nav h1
            {
                font-size: 1.7em;
                margin: 0 auto;
            }

        /* CAJAS DE ENLACE A LOS VIAJES */
            .cajas
            {
                height: 130vh;
                width: 100vw;
                margin-top: -10%;
                padding-bottom: 25%;
            }

            .cajas div
            {
                width: 80%;
                height: 25%;
                flex-direction: column;
                position: relative;
                top: 0;
                left: 0;
                margin: 3% auto;
            }

            .cajas div:nth-child(2)
            {
                left: 0;
            }

            .cajas div:nth-child(3)
            {
                top: 0;
            }

            .cajas div:nth-child(4)
            {
                top: 0;
                left: 0;
            }

            .cajas div p
            {
                font-size: .7em;
            }
    
            .cajas div h2
            {
               font-size: .9em;
            }

        /* STIKERS BACKGROUND */
            .stiker
            {
                width: 0;
                height: 0;
            }

        /* FOOTER */
            footer
            {
                height: 4vh;
                font-size: .32em;
                padding: 0 20px;
                bottom: 0;
                position: relative;
                background: transparent;
            }

    }