@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Permanent Marker', cursive;
}

.container
{
    background: url(../images/excur-back.jpg) no-repeat;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-rows: .5fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
}

.container::after
{
    content: "";
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #00303f;
    opacity: .7;
}

/* MENU DE NAVEGACION */
    nav
    {
        width: 100vw;
        height: 10vh;
        display: flex;
        position: relative;
        align-items: center;
        z-index: 1;
    }

    nav ul
    {
        display: flex;
        position: absolute;
        right: 20px;
    }

    nav ul li
    {
        list-style-type: none;
        margin-right: 25px;
    }

    nav a
    {
        text-decoration: none;
        color: #dcae1d;
        font-size: 1.2em;
        transition: all .2s;
    }

    nav a:hover
    {
        color: #ffe281;
    }

/* CONTENIDO */
    .container div:first-child
    {
        grid-column: 1/4;
        margin: 3%;
        color: #dcae1d;
        z-index: 2;
        background: transparent;
    }

    .container div:first-child h2
    {
        font-size: 3em;
        text-align: center;
        padding-right: 45%;
        color: #dcae1d;
        margin-top: 10px;
    }

    .container div:first-child h3
    {
        font-size: 1.8em;
        text-align: center;
        padding-right: 45%;
        color: #dcae1d;
        margin-top: 10px;
    }

    div
    {
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        margin: 2%;
        border-radius: 15px;
    }

/* CONTENIDO DE LOS DIV */
    div img
    {
        display: block;
        width: 85%;
        height: 50%;
        margin: 4% auto;
        border-radius: 15px;
        border: inset 3px ;
    }

    div h2
    {
        color: white;
        margin-left: 4%;
    }

    div p
    {
        color: white;
        margin: 3%;
    }

    div h1
    {
        text-decoration: none;
        color: #dcae1d;
        position: absolute;
        bottom: 2%;
        margin-left: 18%;
        width: 11%;
        border: 1px solid #dcae1d;
        text-align: center;
        border-radius: 15px;
    }

    div h1:hover
    {
        cursor: pointer;
    }

    div h1:active
    {
        color: white;
    }

/* FORMULARIO DE RESERVA DE VIAJE */
.cerrar
{
    position: absolute;
    right: 2%;
    right: 2%;
    font-size: 2em;
    color: #dcae1d;
}

.cerrar:hover
{
    cursor: pointer;
}

.cerrar:active
{
    color: white;
}

.form
{
    color: #dcae1d;
    width: 100%;
    height: 65%;
    position: fixed;
    border: 2px solid #dcae1d;
    border-radius: 20px;
    background: rgba(0, 0, 0, .8);
    padding: 2%;
    bottom: 0;
    display: none;
}

.form-activ
{
    display: block;
}

.form h1
{
    display: block;
    font-size: 2.2em;
    margin: 1%;
    width: 70%;
    border-bottom: 1px dashed #dcae1d;
    padding-left: 2%;
}

.formtitnone
{
    opacity: 0;
}

.form form
{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(5, 10%);
}

.formtext-none
{
    opacity: 0;
}

.form h2
{
    color: #dcae1d;
    font-size: 1em;
}

.form h2:not(:last-child)
{
    font-size: 1.5em;
    margin-top: 2%; 
    margin-left: 2%;
}

.form input
{
    appearance: none;
    -webkit-appearance: none;
    width: 60%;
    padding: 1%;
    border: 2px solid #dcae1d;
    border-radius: 20px;
}

.form textarea
{
    width: 90%;
    height: 90%;
    padding: 1%;
    border: 2px solid #dcae1d;
    border-radius: 20px;
}

.form .submit
{
    width: 10%;
    height: 10%;
    border: 2px solid #dcae1d;
    border-radius: 20px;
    box-shadow: 1px 2px 5px black;
    margin: 3% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: white;
    position: absolute;
    bottom: -3%;
    left: 37%;
}

.form .submit:hover
{
    cursor: pointer;
    box-shadow: inset 1px 2px 5px black;
}

 .form .submit:active
{
    box-shadow: inset 1px 2px 5px black;
}

.form div
{
    background: none;
}

/* CALENDARIO */
.calendario
{
    display: none;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 58%;
    border: 4px solid #dcae1d;
    border-radius: 20px;
    box-shadow: 1px 1px 5px inset;
    background: white;
    position: absolute;
    bottom: 5%;
    left: 25%;
    color: #00303f;
}

.Act
{
    display: flex;
}

.calendario h1
{
    position: absolute;
    top: 2%;
    border-bottom: 1px dashed #00303f;
    width: 100%;
    text-align: center;
}

.calendario .ant
{
    position: absolute;
    top: 12%;
    left: 3%;
    font-size: 2em;
}

.calendario .ant:hover
{
    cursor: pointer;
}

.calendario .ante:active
{
    color: #dcae1d;
}

.antdesactiv
{
    font-size: 0;
}

.calendario .pos
{
    position: absolute;
    top: 12%;
    right: 3%;
    font-size: 2em;
}

.calendario .pos:hover
{
    cursor: pointer;
}

.calendario .pos:active
{
    color: #dcae1d;
}

.posdesactiv
{
    font-size: 0;
}

.calendario .mesactual
{
    position: absolute;
    top: 12%;
    font-size: 2em;
}

.calendario .dias
{
    position: absolute;
    top: 23%;
    width: 95%;
    height: 67%;
    display: grid;
    grid-template-columns: repeat(7, 14%);
    grid-template-rows: repeat(5, 1fr);
    background-color: #00303f;
    text-align: center;
}

.calendario p
{
    position: relative;
    color: #dcae1d;
    margin: auto;
    width: 30%;
}

.calendario P:hover
{
    border: #00303f;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

/* MENSAJE DE RESERVADO */
.reservado
{
    width: 80%;
    height: 50%;
    background-color: white;
    position: absolute;
    bottom: 5%;
    left: 10%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #dcae1d;
    border-radius: 20px;
}

.reservado i 
{
    font-size: 2em;
}

.reservado i:hover
{
    cursor: pointer;
}

.reservado i:active
{
    color: #dcae1d;
}

.activarRes
{
    display: flex;
}

@media (max-width: 1620px) {
    /* CONTENIDO DE LOS DIV */
    div img
    {
        width: 75%;
        height: 40%;
    }

    div h2
    {

        font-size: 1.1em;
    }

    div p
    {
        font-size: .9em;
    }

    div h1
    {
        font-size: 1em;
        width: 12%;
        height: 5%;
    }

    /* FORMULARIO DE RESERVA DE VIAJE */
    .cerrar
    {
        font-size: 1.7em;
    }

    .form
    {
        height: 60%;
    }

    .form h1
    {
        font-size: 1.7em;
    }

    .form h2
    {
        color: #dcae1d;
        font-size: .8em;
    }

    .form .submit
    {
        width: 14%;
    }

    /* CALENDARIO */
    .calendario
    {
        width: 55%;
        height: 50%;
    }
}

@media (max-width: 1220px) 
{
    .container div:first-child
    {
        font-size: .6em;
    }

    div img
    {
        width: 70%;
        height: 30%;
    }
}

@media (max-width: 840px) {
    div img
    {
        width: 85%;
        height: 30%;
    }

    .titulo 
    {
        font-size: .8em;
    }
}

@media (max-width: 420px)
{
    nav
    {
        border-bottom: 2px solid #dcae1d;
    }

    .container
    {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: #00303f;
        height: 300vh;
        top: 0;
        overflow: hidden;
    }

    /* CONTENIDO */
        .container div:first-child
        {
            font-size: .7em;
            display: flex;
            flex-direction: column;
            width: 150%;
            height: 8%;
            margin: 18% 7%;
        }

        .container div:first-child h3
        {
            font-size: 1.6em;
        }

        div
        {
            width: 95%;
        }

        /* CONTENIDO DE LOS DIV */
            div img
            {
                height: 40%;
            }

            div h1
            {
                position: relative;
                bottom: -5%;
                width: 30%;
                height: 10%;
            }

            div h1:hover
            {
                cursor: pointer;
            }

            div h1:active
            {
                color: white;
            }

        /* FORMULARIO DE RESERVA DE VIAJE */
        .cerrar
        {
            font-size: 1.5em;
        }

        .form
        {
            height: 95%;
            background: rgba(0, 0, 0, 1);
            z-index: 3;
        }

        .form h1
        {
            font-size: 1.5em;
        }

        .form form
        {
            grid-template-columns: repeat(1 , 1fr);
            grid-template-rows: repeat(8, 10%);
        }

        .form h2:not(:last-child)
        {
            font-size: 1em;
        }

        .form .submit
        {
            width: 20%;
            bottom: 2%;
        }

        /* CALENDARIO */
        .calendario
        {
            width: 90%;
            height: 68%;
            left: 5%;
            z-index: 4;
            position: fixed;
        }

        .calendario h1
        {
            position: absolute;
            top: 2%;
            border-bottom: 1px dashed #00303f;
            width: 100%;
            text-align: center;
            font-size: 1.3em;
        }

        /* MENSAJE DE RESERVADO */
        .reservado
        {
            z-index: 4;
        }
}