    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap');


/* RESETEO CSS */
* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}

body
{
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
    scroll-behavior: smooth;
}

/* HEADER PORTADA */
header
{
    width: 100vw;
    height: 230px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGO */

.logo 
{
    font-size: 7em;
    color: #00303f;
    padding: 0 30px;
    border-bottom: 5px solid #dcae1d;
    border-radius: 20%;
}

/* LOGO */

/* HEADER PORTADA */

/* PARALLAX EFECT */

#parallax
{
    position: relative;
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parallax::before
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #00303f, transparent);
    z-index: 10;
}

    /* TITULO PORTADA */
    #parallax h2
    {
        position: absolute;
        color: #dcae1d;
        font-size: 10vw;
        bottom: -20%;
        text-align: center;
    }

    #parallax h2 .a, 
    #parallax h2 .s
    {
        position: relative;
        font-family: 'Permanent Marker', cursive;
        font-size: 12vw;
        letter-spacing: -4px;
    }

    #parallax h2 span
    {
    position: relative;
        font-family: 'Rubik', sans-serif;
    font-size: .2em;
    letter-spacing: 3px;
    font-weight: 400;
    }

    /* TITULO PORTADA */

    /* INFO PAGINA */
    .info-portada
    {

        padding: 100px;
        background: #00303f;
        color: white;
        overflow: hidden;
    }

    .info-portada h2
    {
        border-bottom: 2px solid #dcae1d;
        color: #dcae1d;
        font-size: 2.5em;
        padding-left: 3vw;
        margin-bottom: 10px;
    }

    .info-portada p
    {
        margin-bottom: 10px;
        padding: 5px 15px;
    }

    .info-portada span
    {
        font-size: 1.2em;
        border-bottom: 1px solid #dcae1d;
    }
    /* INFO PAGINA */

    /* ENLACE BOTTOM */
    .enlace
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: -260px;
        width: 80vw;
        height: 200px;
        border-radius: 50%;
        background-color: #dcae1d;
        transition: transform 1s;
    }

    .enlace .abrir-cerrar
    {
        position: relative;
        font-size: 2em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 900;
        top: -50px;
        color: #00303f;
        transform: rotate(270deg);
        transition: all 1s;
    }

    .enlace a
    {
        position: relative;
        font-size: 2em;
        top: -70px;
        color: #00303f;
        text-decoration: none;
    }

    .enlace:hover
    {
        transform: translateY(-60px);
    }

    .enlace:hover .abrir-cerrar
    {
        transform: rotate(90deg);
    } 
    /* ENLACE BOTTOM */

    /* IMAGENES DE PARALLAX */
    #parallax img
    {
        position: absolute;
        object-fit: cover;
    }

    #avion
    {
        width: 8vw;
        top: 60vh;
        left: 14vw;
        z-index: -1;
    }

    #skyline
    {
        width: 100vw;
        bottom: 0;
        z-index: 5;
    }

    #coliseo
    {
        width: 35vw;
        z-index: -1;
        left: 5vw;
        bottom: 3%;
    }

    #eiffel
    {
        width: 17vw;
        z-index: -1;
        left: 40vw;
        bottom: 0;
    }

    #bigben
    {
        width: 40vw;
        z-index: -3;
        right: 5vw;
        bottom: 0;
    }
    /* IMAGENES DE PARALLAX */

/* PARALLAX EFECT */

/* MEDIAQUERYS */
@media (max-width: 1080px) {
    .logo 
    {
        font-size: 5em;
    }

    #parallax
    {
        position: relative;
        min-height: 110vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}